/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.harvey-heading {
  color: black;
  text-decoration-line: none;
}

.harvey-contact-links-container {
  position: relative;
  margin: 10px;
}

.harvey-contact-link {
  color: black;
}
div.background {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
}

.background.standard {
  background-image: url('chicago.jpg');
}

.content-container {
  position: relative;
  margin: auto 0;
}

.logo {
  opacity: 0.5;
}
